@use "../../design-system/index" as ds;

// ----------------------------------------
// Component: Divider
// ----------------------------------------

// Base wrapper
.divider-custom {
  margin: ds.$space-xs 0 ds.$space-xl;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

// Divider line
.divider-custom-line {
  flex: 1;
  max-width: 7rem;
  height: 0.15rem;
  border-radius: ds.$radius-lg;
  background-color: ds.$light;
  @include ds.text-shadow(xs);
}

// Divider icon
.divider-custom-icon {
  font-size: ds.$font-size-base;
  margin: 0 ds.$space-md;
  color: ds.$light;
  @include ds.text-shadow(xs);
}

// Light / Dark variants
.divider--light {
  .divider-custom-line {
    background-color: ds.$dark;
  }

  .divider-custom-icon {
    color: ds.$dark;
  }
}

.divider--dark {
  .divider-custom-line {
    background-color: ds.$light;
  }

  .divider-custom-icon {
    color: ds.$light;
  }
}

// Responsive adjustments
@include ds.mobile {
  .divider-custom-icon {
    font-size: ds.$font-size-sm;
    margin: 0 ds.$space-sm;
  }

  .divider-custom-line {
    max-width: 5rem;
  }
}
