@use "../design-system/index" as *;

// ===============================================
// LOGO – IKONA + TEXTOVÁ ČASŤ
// ===============================================

/* HLAVNÝ WRAPPER LOGA */
#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include light-box-shadow;                        //TODO - → duplicita s inými komponentmi, ktoré používajú drop-shadow natvrdo.

  /* TEXTOVÁ ČASŤ LOGA */
  .logo-text {
    margin-left: 0.1rem;
    line-height: 0.7;
    color: $logo-color;
    text-align: left;

    p {                                       
      font-size: $font-size-md;
      font-style: italic;
      margin: 0;
      line-height: 0.7;
    }

    small {
      font-size: $font-size-sm;
      font-weight: 700;
      margin: 0;
      line-height: 0.7;

    }
  }

  /* SVG / IMG LOGO */
  .logo {                                           //TODO - width: 4rem; height: 4rem; → duplicita s inými ikonami (navrhujem jednotný systém veľkostí).
    width: 4rem;
    height: 4rem;
  }

  img.logo {
    width: 4rem;
    height: 4rem;
    display: block;
  }
}

// ===============================================
// RESPONSIVE LOGO UTILITIES – VOLITEĽNÉ
// ===============================================

@include mobile {

  /* MENŠIE LOGO NA MOBILOCH */
  #logo .logo,
  #logo img.logo {
    width: 3.5rem;
    height: 3.5rem;
  }
  .logo-text p {                                       
      font-size: $font-size-md;
    }
    small {
      font-size: $font-size-xs;
    }
}

