@use "../design-system/index" as *;
@use "../base/index" as base;

// ===============================================
// RATING – HVIEZDIČKOVÉ HODNOTENIE (UNICODE ★)
// ===============================================

/* TODO - .rating a .star sa v HTML zatiaľ nepoužívajú → možno mŕtvy kód.
transform: translateY(-1px) → natvrdo → neskôr navrhnem lepšie vertikálne zarovnanie.*/

.rating {
  font-size:$font-size-rating;
  display: inline-block;

  margin-right: 0.2rem;
  line-height: 0.5;
}

.star {
  line-height: 0.5;
  display: inline-block;
  transform: translateY(-1px); // optické vyrovnanie
  color:$rating-empty;   // fallback
}
