// ----------------------------------------
// Design System: Breakpoints
// Centrálne definované breakpointy + mixiny
// ----------------------------------------

// Breakpoint variables
$breakpoint-xxl: 1600px;
$breakpoint-xl: 1300px;
$breakpoint-lg: 1201px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
$breakpoint-xxs: 370px;

// Fluid typography (optional)
$font-fluid-min: 1rem;
$font-fluid-max: 2.5rem;

// ----------------------------------------
// Breakpoint mixins
// ----------------------------------------
@mixin mobile-down {
  @media (max-width: #{$breakpoint-xxs}) { @content; }
}
@mixin mobile {
  @media (max-width: #{$breakpoint-xs}) { @content; }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-sm}) { @content; }
}

@mixin tablet-landscape {
  @media (max-width: #{$breakpoint-md}) { @content; }
}

@mixin desktop-down {
  @media (max-width: #{$breakpoint-lg}) { @content; }
}

@mixin lg {
  @media (min-width: #{$breakpoint-md}) { @content; }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-lg}) { @content; }
}

@mixin desktop-xl {
  @media (min-width: #{$breakpoint-xl}) { @content; }
}

@mixin desktop-xxl {
  @media (min-width: #{$breakpoint-xxl}) { @content; }
}