// ----------------------------------------
// Design System: Layout
// Rozmery, veľkosti a globálne layout premenné
// ----------------------------------------

$navbar-height: 4rem;

$navbar-logo-height:         3.5rem;
$navbar-logo-height-tablet:  3rem;
$navbar-logo-height-mobile:  3.5rem;

$footer-logo-height: 8rem;

$copyright-height: 1.75rem;

$container-max-width: 1200px;

$logo: url("../img/logo.png");
