$navbar-height:    4rem;
$navbar-logo-height: 4rem;
$navbar-logo-height-tablet: 3rem;
$navbar-logo-height-mobile: 3.5rem;

$copyright-height: 1.75rem;

$container-max-width: 1200px;

$logo: url("../img/logo.png");
