/* TEXT TRANSFORM */
.text-uppercase {
  text-transform: uppercase;
}

/* LINE HEIGHT */
.lh-1    { line-height: 1 !important; }
.lh-sm   { line-height: 1.25 !important; }
.lh-base { line-height: 1.5 !important; }
.lh-lg   { line-height: 2 !important; }

/* FIX – Cloudflare Turnstile overflow */
#turnstile-container {
  max-width: 100%;
  overflow: hidden;
}

.cf-turnstile iframe {
  max-width: 100% !important;
  width: 100% !important;
  display: block;
}
