@charset "UTF-8";
@use "variables" as *;

// ===============================================
// GLOBAL BASE SETTINGS
// ===============================================

html {
  font-size: 100%;
}

header[id],
section[id] {
  scroll-margin-top: $navbar-height; // 4rem
}

body {
  max-width: 100%;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-color;
  background-color: $body-bg;
  position: relative;

  padding-top: 4rem;
  padding-bottom: 1.75rem;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

// ===============================================
// RESPONSIVE HOOKS – OPTIONAL
// ===============================================

@media (max-width: 992px) {
  body {
    padding-top: 4rem;
    padding-bottom: 1.75rem;
  }
}

@media (max-width: 576px) {
  .formMessage {
    display: none !important;
  }
}
