@use "../design-system/index" as ds;

// ----------------------------------------
// Base: Typography Utilities
// ----------------------------------------

small,
.small {
  font-size: ds.$font-size-sm;
}

mark,
.mark {
  padding: ds.$space-xxs;
  background-color: ds.$first-light;
}

b,
strong {
  font-weight: ds.$font-weight-bold;
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  margin-right: ds.$space-sm;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

kbd {
  background-color: ds.$dark;
  color: ds.$light;
  padding: ds.$space-xs ds.$space-sm;
  border-radius: ds.$radius-sm;
}

.fluid-heading {
  @include ds.fluid-font(1.5rem, 3rem);
}
