@use "../base/mixins" as *;


// ===============================================
// TYPOGRAPHY – ZÁKLADNÉ TEXTOVÉ ŠTÝLY
// ===============================================

/* NADPISY (H1–H6 + BOOTSTRAP VARIANTY) */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", var(--bs-font-sans-serif);
  font-weight: 700;
  line-height: 1.2;
}

/* ODSTAVCE */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* MALÝ TEXT */
small,
.small {
  font-size: 0.875em;
}

/* ZVÝRAZNENÝ TEXT (MARK) */
mark,
.mark {
  padding: 0.1875em;
  background-color: var(--bs-highlight-bg);
}

/* TUČNÝ TEXT */
b,
strong {
  font-weight: bolder;
}

/* HLAVNÝ NADPIS STRÁNKY */
h1.main-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

/* PODNADPIS / TAGLINE */
p.tagline {
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

/* NADPIS SEKCIÍ */
.page-section-heading {
  margin-bottom: 0.25rem;
}

/* RESET ŠTÝLOV ZOZNAMOV */
.list-unstyled,
.list-inline {
  padding-left: 0;
  list-style: none;
}

/* INLINE POLOŽKY ZOZNAMU */
.list-inline-item {
  display: inline-block;
  margin-right: 0.5rem;
}

/* SKRATKY (INITIALISM) */
.initialism {
  font-size: 0.5em;
  text-transform: uppercase;
}

/* SKRATKY S TITLE (ABBR) */
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
}

/* INDEX DOLNÝ */
sub {
  bottom: -0.25em;
}

/* INDEX HORNÝ */
sup {
  top: -0.5em;
}

/* ODKAZY */
a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

/* KBD – KLÁVESOVÉ SKRATKY */
kbd {
  background-color: var(--bs-body-color);
  color: var(--bs-body-bg);
}

/* ŠTÝL ZÁKLADNÉHO HTML ELEMENTU <hr> */
hr {
  margin: 1rem 0;
  border: 0;
  border-top: var(--bs-border-width) solid currentColor;
  opacity: 0.25;
}


// ===============================================
// TYPOGRAPHY – RESPONSIVE EXTENSIONS
// ===============================================

/* Jemné zmenšenie veľkých nadpisov na mobiloch */
@include mobile {
  h1.main-title {
    font-size: 2rem;
  }
}

/* Plynulé škálovanie nadpisov – voliteľné */
.fluid-heading {
  @include fluid-font(1.5rem, 3rem);
}
