@use "../base/variables" as *;
@use "../base/index" as base;
@use "../base/mixins" as *;

// ===============================================
// ABOUT – INFORMÁCIE O MNE (SEKCIA PROFILU)
// ===============================================

#about {
  min-height: calc(100dvh - ($navbar-height + $copyright-height));
  border: 1px solid #000000;
  background-image: linear-gradient(to right, base.$first-middle, base.$first-light);
  padding: 2rem 0.5rem;
  @include rounded($radius-base);
  width: 100%;

  .about-page {
    flex: 2.5;
    min-width: 500px;
    background-image: linear-gradient(to right, base.$primary, base.$first-light);
    padding: 2rem 4rem;
    color: black;
    border: 1px solid #000000;
    @include rounded($radius-base);
    @include bubble-box-shadow;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .about-container {
    width: 65vw;
    margin: 0 auto;
  }

  h2 {
    @include text-shadow-default;
  }

  .about-info {
    color: $dark;
    font-size: 1rem;
  }

  .divider-custom {
    padding: 0 0 3rem;
  }

  .divider-custom-icon {
    margin: 0 0.5rem;
    color: $body-color;
    @include text-shadow-default;
  }
}

// ===============================================
// RESPONSIVE – ZALOMENIE STĹPCOV
// ===============================================

@include tablet-landscape {

  #about {
    border: 1px solid #000000;
    @include rounded($radius-base);
    @include flex-column;
    max-height: fit-content;
  }

  #about .about-container {
    @include flex-column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  #about .row {
    flex-wrap: wrap;
    gap: 0;
  }

  #about .about-info {
    line-height: 1.6rem;
    font-size: 1.2rem;
  }
}

@include mobile {

  #about {
    border: 1px solid #000000;
    @include rounded($radius-base);
    @include flex-column;
    max-height: fit-content;
    justify-content: center;
    align-items: center;
  }

  #about .about-page {
    min-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #about .about-container {
    @include flex-column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  #about .row {
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
  }

  #about .about-info {
    width: 100% !important;
    max-width: 100%;
    flex: 0 0 100%;
    font-size: 1rem;
  }
}
