@use "../base/variables" as *;
@use "../base/index" as base;
@use "../base/mixins" as *;

// ===============================================
// ABOUT – INFORMÁCIE O MNE (SEKCIA PROFILU)
// ===============================================

#about {
  min-height: calc(100dvh - ($navbar-height + $copyright-height));
  border: 1px solid #000000;
  background-color: base.$first-middle;
  padding: 2rem 1rem;
  @include rounded($radius-base);
  width: 100%;

  .about-page {
    flex: 2.5;
    min-width: 500px;
    @include gradient-bg(base.$second-middle, base.$first-middle);
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    color: black;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .about-container {
    width: 65vw;
    margin: 0 auto;
  }

  h2 {
    @include text-shadow-default;
  }

  .about-info {
    color: $body-color;
    text-shadow:
      -1px -1px 0 black,
       1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black;
  }

  .divider-custom-icon {
    margin: 0 0.5rem;
    color: $body-color;
    @include text-shadow-default;
  }
}

// ===============================================
// RESPONSIVE – ZALOMENIE STĹPCOV
// ===============================================

@include tablet-landscape {

  #about {
    border: 1px solid transparent;
    @include flex-column;
    max-height: fit-content;
  }

  #about .about-container {
    @include flex-column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 90vw;
    max-width: 90%;
    position: relative;
  }

  #about .row {
    flex-wrap: wrap;
    gap: 0;
  }

  #about .about-info {
    line-height: 1.6rem;
    font-size: 1.2rem;
  }
}

@include mobile {

  #about {
    border: 1px solid transparent;
    @include flex-column;
    max-height: fit-content;
    justify-content: center;
    align-items: center;
  }

  #about .about-page {
    min-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #about .about-container {
    @include flex-column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 90vw;
    max-width: 90%;
    position: relative;
  }

  #about .row {
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
  }

  #about .about-info {
    width: 100% !important;
    max-width: 100%;
    flex: 0 0 100%;
    font-size: 0.8rem;
  }
}
