@use "../base/variables" as *;
@use "../base/mixins" as *;

// ===============================================
// CONTACT – KONTAKTNÁ SEKCIA STRÁNKY
// ===============================================

#contact {
  min-height: calc(100dvh - ($navbar-height + $copyright-height));
  border: 1px solid #000000;
  color: #000;
  background-color: #f9f9f9;
  padding: 2rem 1rem;
  @include rounded($radius-base);

  h2 {
    text-shadow:
      0.125rem 0.125rem 0 #6e97c3,
      0.1875rem 0.1875rem 0.4375rem #666;
  }

  .contact-container {
    width: 60vw;
    margin: 0 auto;
  }

  .divider-custom-line {
    background-color: #000;
    filter:
      drop-shadow(0.125rem 0.125rem 0 #a4a4a4)
      drop-shadow(0.1875rem 0.1875rem 0.4375rem #464646);
  }

  .divider-custom-icon {
    margin: 0 0.5rem;
    color: #000000;
    filter:
      drop-shadow(0.125rem 0.125rem 0 #a4a4a4)
      drop-shadow(0.1875rem 0.1875rem 0.4375rem #464646);
  }
}

// ===============================================
// RESPONSIVE CONTACT UTILITIES
// ===============================================

@include tablet-landscape {
  #contact .contact-container {
    width: 80vw;
  }
}

@include mobile {
  #contact {
    border: 1px solid transparent;
    @include flex-column;
    width: 100%;
    min-height: calc(100dvh - (4rem + 1.75rem));
    max-height: fit-content;
    justify-content: center;
    align-items: center;
  }

  #contact .contact-container {
    @include flex-column;
    justify-content: flex-start;
    height: auto;
    width: 90vw;
    max-width: 100%;
    position: relative;
  }
}
