@use "../design-system/index" as ds;

// ----------------------------------------
// Layout: Container
// ----------------------------------------

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: ds.$space-md;
  padding-right: ds.$space-md;

  @include ds.mobile {
    max-width: 100%;
  }

  @include ds.tablet {
    max-width: 540px;
  }

  @include ds.tablet-landscape {
    max-width: 720px;
  }

  @include ds.desktop-down {
    max-width: 960px;
  }

  @include ds.desktop {
    max-width: ds.$container-max-width;
  }
}
