@use "../base/mixins" as *;

// ===============================================
// GRID – JEDNODUCHÉ RESPONSÍVNE STĹPCE
// ===============================================

/* LARGE (≥ 992px) */
@include lg {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* SMALL (≥ 576px) */
@include sm {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
