// ===============================================
// HEADER – ÚVODNÁ SEKCIA STRÁNKY
// ===============================================

/* HLAVNÝ HEADER BLOK */
header {
  min-height: calc(100dvh - 6rem); /* výška okna mínus navbar a copyright */
  margin-top: 0;
  padding-top: 0;
}

/* ODSTRÁNENIE MARGINU NA PRVOM ELEMENTE V HEADERI */
header > *:first-child {
  margin-top: 0;
}
