@use "../design-system/index" as ds;

// ----------------------------------------
// Layout: Section
// ----------------------------------------

.section {
  padding-top: ds.$space-lg;
  padding-bottom: ds.$space-lg;

  @include ds.desktop {
    padding-top: ds.$space-xl;
    padding-bottom: ds.$space-xl;
  }
}

// ----------------------------------------
// Section Headings
// ----------------------------------------

.page-section-heading {
  margin-bottom: ds.$space-xs;
}
