@use "../../design-system/index" as ds;

// ----------------------------------------
// Component: Logo
// ----------------------------------------

#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include ds.drop-shadow(sm);

  // Logo text
  .logo-text {

    line-height: ds.$logo-text-line-height;
    color: ds.$logo-color;
    text-align: left;

    p {
      font-size: ds.$logo-title-font-size;
      font-style: italic;
      color: ds.$dark;
      margin: 0;
      line-height: ds.$logo-text-line-height;
    }

    small {
      font-size: ds.$logo-subtitle-font-size;
      font-weight: ds.$logo-subtitle-font-weight;
      margin: 0;
      line-height: ds.$logo-text-line-height;
    }
  }

  // Logo icon (SVG / IMG)
  .logo,
  img.logo {
    width: ds.$navbar-logo-height;
    height: ds.$navbar-logo-height;
    display: block;
  }
}

// ----------------------------------------
// Responsive adjustments
// ----------------------------------------

@include ds.mobile {

  #logo .logo,
  #logo img.logo {
    width: ds.$navbar-logo-height-mobile;
    height: ds.$navbar-logo-height-mobile;
  }

  .logo-text p {
    font-size: ds.$logo-title-font-size-mobile;
  }

  small {
    font-size: ds.$logo-subtitle-font-size-mobile;
  }
}
