@charset "UTF-8";

@use "./design-system/index" as *;

@use "base/index" as base;
@use "components/index" as components;
@use "layout/index" as layout;
@use "pages/index" as pages;
@use "utilities/index";

#turnstile-container.dev-placeholder {
  background:$success;
  color:$light;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
  font-size:$font-size-sm;
}
